@use '@styles/variables.scss' as v;

.checkModal {
  position: absolute;
  top: calc(80vh * 0.38);
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(v.$tile-height * 9.6);
  height: calc(v.$tile-height * 2);
  color: white;
  font-size: large;
  background-color: v.$border-brown-transparent;
}
