@use '@styles/variables.scss' as v;

.janggiBoard {
  position: relative;
  margin: 0 auto;
  width: calc(v.$tile-height * 9.6);
  height: calc(v.$tile-height * 10.6);
  background-color: v.$background-brown;
}

.lineBoard {
  position: absolute;
  top: calc(v.$tile-height * 0.8);
  left: calc(v.$tile-height * 0.8);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
  width: calc(v.$tile-height * 8);
  height: calc(v.$tile-height * 9);
  border: 1px solid v.$border-brown;
  background-color: v.$border-brown;

  .helpTile {
    background-color: v.$background-brown;

    &.slash {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(92, 61, 46)" /></svg>');
    }

    &.backSlash {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="rgb(92, 61, 46)" /></svg>');
    }
  }
}

.squareBoard {
  position: absolute;
  top: calc(v.$tile-height * 0.3);
  left: calc(v.$tile-height * 0.3);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(9, 1fr);
  gap: 0.875px;
  width: calc(v.$tile-height * 9);
  height: calc(v.$tile-height * 10);
  background-color: transparent;
}
