@use '@styles/variables.scss' as v;

.janggi {
  display: flex;
  justify-content: center;
  gap: 10px;

  .scoreBoard {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .deadPieces {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: calc(v.$tile-height * 0.8);
    border: 1px solid v.$border-brown;

    .deadPiece {
      width: calc(v.$tile-height * 0.7);
      height: calc(v.$tile-height * 0.7);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 2px;
      background-color: v.$background-brown;

      &.small {
        width: calc(v.$tile-height * 0.5);
        height: calc(v.$tile-height * 0.5);
      }
    }
  }

  .gameOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 8px 10px;
    }
  }
}
