@use '@styles/variables.scss' as v;

.janggi {
  .deadPieces {
    display: flex;
    align-items: center;
    height: calc(80vh * 0.08);
    border: 1px solid v.$border-brown;

    .deadPiece {
      width: calc(80vh * 0.07);
      height: calc(80vh * 0.07);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 2px;
      background-color: v.$background-brown;

      &.small {
        width: calc(80vh * 0.05);
        height: calc(80vh * 0.05);
      }
    }
  }

  .gameOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      padding: 8px 10px;
    }
  }
}
