@use '@styles/variables.scss' as v;

.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.highlight {
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      height: 20%;
      border: 2px solid v.$border-brown;
      opacity: 0.6;
    }

    // attackable piece
    &.pieceTile::after {
      width: 100%;
      height: 100%;
      border: 3px solid v.$border-brown;
    }
  }

  &.blocked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    opacity: 0.6;
    background-image: url('../../images/block_icon.svg');
    background-position: center;
    background-size: cover;
  }

  &:hover.highlight::after {
    opacity: 0.9;
  }

  .piece {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 3px;
    transition: translate 0.4s ease-in-out, scale 0.5s ease-in-out;

    &.small {
      width: 70%;
      height: 70%;
    }

    &.selected {
      filter: drop-shadow(0px 0px 5px v.$border-brown);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .checkBubble {
    position: absolute;
    top: calc(80vh * 0.03 * -1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80vh * 0.1);
    height: calc(80vh * 0.05);
    border: 1px solid v.$border-brown;
    border-radius: 5px;
    background-color: v.$border-brown-transparent;
    color: white;
    font-size: small;
    cursor: default;
  }
}
